{% extends "base.html" %}
{% load static %}

{% block content %}
<form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Submit">
	<input type="hidden" name="next" value="{{ next }}" />
	{% if form.errors %}
		<p>The username and password specified are incorrect. Please try again</p>
	{% endif %}
</form>
<a href="/accounts/register/">Register a new account</a>
{% endblock %}
