{% extends "base.html" %}
{% load static %}

{% block main %}
<div id="info-container">
	<div id="titledescription">Artist name</div>
	<div id="textdescription">
	Artist description with details

	</div>
</div>

<div id="main-container">
	<div id="grid-container">
		<img class="tempartsmall" src="{% static 'pics/a1.png' %}" alt="artwork name">
		<img class="tempartsmall" src="{% static 'pics/a2.png' %}" alt="artwork name">
		<img class="tempartsmall" src="{% static 'pics/a3.png' %}" alt="artwork name">
		<img class="tempartsmall" src="{% static 'pics/a4.png' %}" alt="artwork name">
		<img class="tempartsmall" src="{% static 'pics/a5.png' %}" alt="artwork name">
		<img class="tempartsmall" src="{% static 'pics/a6.png' %}" alt="artwork name">
	</div>

	<!-- Starts down menu -->
	<div id="down-menu">
		<div class="iconD">
			<img id="likeimg" src="{% static 'pics/like.png' %}" alt="Like">
		</div>
		<div class="iconD">
			<img id="shareimg" src="{% static 'pics/Share.png' %}" alt="Share">
		</div>
		<div class="paginator">
			<div class="iconD disabled">
				<img id="previmg" src="{% static 'pics/prev.png' %}" alt="Next">
			</div>
			<a href="url">1</a>
			<a href="url">2</a>
			<a href="url">3</a>
			<a href="url">4</a>
			<a href="url">5</a>
			<div class="iconD">
				<img id="nextimg" src="{% static 'pics/next.png' %}" alt="Next">
			</div>
		</div>
	</div>
</div>
{% endblock %}

</body>
</html>
