{% extends "base.html" %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/art.css' %}" type = "text/css"/>
{% endblock %}

{% block main %}
<div id="info-container">
	<h2 id="titledescription">{{artinfo.name}}</h2>
	<div class="small">Artist: <a href="{% url 'Artists' artwork.a_id.pk %}">{{artistinfo.name}}</a></div>
	<div class="small">Year: {{artwork.createdDATE.year}}</div>
	<div id="textdescription">
		{{artinfo.description}}
	</div>
</div>
<div id="main-container">
	<div id="art-container">
		<img id="tempart" src="/{{artwork.image_path}}" alt="{{name}}">
	</div>
	<div id="down-menu">
		{% if liked %}
			<a href="{% url 'ArtworkDislike' artwork.id %}">
				<div class="iconD">
					<img src="{% static 'pics/like_active.png' %}" alt="Like">
				</div>
			</a>
		{% else %}
			<a href="{% url 'ArtworkLike' artwork.id %}">
				<div class="iconD">
					<img src="{% static 'pics/like.png' %}" alt="Like">
				</div>
			</a>
		{% endif %}
		<a href="{% url 'ArtworkListAdd' artwork.id %}">
			<div class="iconD">
				<img src="{% static 'pics/list.png' %}" alt="List">
			</div>
		</a>
	</div>
</div>
{% endblock %}

</body>
</html>
