{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Add "{{name}}" to:</h2>
<ul>
	{% for list in user.user_profile.list_set.all %}
		<li><a href="{% url 'ArtworkAdd' artwork.id list.id %}">{{list.name}}</a></li>
	{% endfor %}
</ul>
{% endblock %}
