{% extends "base.html" %}
{% load static %}

{% block content %}
	{% if user.user_profile %}
		<h2>{{user.user_profile.display_name}}</h2>
		@{{user.get_username}}
		
		<form method="post" action="/accounts/profile/">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Edit Profile">
		</form>
	{% else %}
		{% if user.is_authenticated %}
		<p>No profile is defined for this user.
		You need to create an account using the registration page; you cannot use an admin account.</p>
		<a href="/accounts/logout">Click here to log out.</a>
	{% else %}
		<a href="/accounts/login">Please log in to see this page.</a>
	{% endif %}
	{% endif %}
{% endblock %}
