{% extends "base.html" %}
{% load static %}

{% block content %}
	<form method="post" action="/accounts/register/">
		{% csrf_token %}
		{{ user_form.as_p }}
		<hr/>
		{{ profile_form.as_p }}
		<input type="submit" value="Register an account">
	</form>
{% endblock %}
