/* this is a CSS file for the index page. it is pretty simple. i try to
apply some Responsive disgn it works kind of good the main problem is that
I have done nothing to make the text font to be Responsive. so we you use
different screen sizes the font won't change. */

* {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	margin: 0 auto;
	font: 400 12px/22px 'Open Sans', Verdana, Helvetica, sans-serif;
	color: black;
	grid-gap: .5em;
	grid-template-columns: 20em 20em 1fr 20em;
	grid-template-rows: 64px auto;
	height: 100vh;
	width: 100%;
	max-width: 50em;
	background-color: #EEEEEE;
}

#logo {
	float: left;
}

h1.label {
	font-size: 12pt;
}
.label {
	display: inline-block;
	vertical-align: middle;
}

#logo-img {
	width: 64px;
	vertical-align: middle;
}

.icon {
	width: 32px;
	vertical-align: middle;
}

#ad-space {
	background-color: #999;
	vertical-align: middle;
	text-align: center;
	height: 64px;
	border: 1px solid grey;
	color: white;
	grid-column: 2 / 4;
	grid-row: 1;
	clear: both;
	padding: 1.5em;
}

#user {
	font-weight: bold;
	grid-column: 4;
	grid-row: 1;
	float: right;
	height: 64px;
	padding-top: 16px;
}

.sidebar {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.scrollable {
	flex: 1 1;
	overflow-y: auto;
}
#sidebar {
	grid-column: 1;
	grid-row: 2;
	clear: both;
}
#map-container {
	overflow-y: auto;
	grid-column: 2 / 4;
	grid-row: 2;
}
#grid-container {
	text-align: center;
	border: 1px solid black;
	padding: .5em;
}
#info-container {
	overflow-y: auto;
	grid-column: 2;
	grid-row: 2;
}
#grid-container img {
	width: 250px;
	height: 250px;
	border: 1px solid black;
	
	object-fit: cover;
}
#main-container {
	grid-column: 3 / 5;
	grid-row: 2;
	
	overflow-y: auto;
}
#art-container {
}
#art-container img {
	width: 100%;
}
#down-menu, #zoom-menu {
	text-align: center;
	border-bottom: 1px solid grey;
}
.iconD {
	display: inline-block;
	vertical-align: middle;
}
.iconD img {
	display: inline-block;
	width: 32px;
	vertical-align: middle;
}
#map {
	width: 100%;
	border: 1px solid black;
}
#top5-container {
	grid-column: 4;
	grid-row: 2;
}

.thumbnail {
	width: 4.5em;
	height: 3.5em;
	object-fit: cover;
	float: left;
	margin-right: .5em;
	border: 1px solid black;
}

.artname {
	font-weight: bold;
	display: block;
}

.top5 {
	padding: .5em;
	border-bottom: 1px solid grey;
}

ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

li {
	padding: 0px;
	margin: 0;
	clear: left;
}

a {
	text-decoration: none;
}
.sidebar a {
	padding: .25em;
	color: black;
	display: block;
}

.sidebar a:hover {
	background-color: #ccc;
}

.sidebar a.active {
	color: #4CAF50;
	font-weight: bold;
}

#sidemenu {
	margin: 0 auto;
}
#sidemenu li {
	display: inline-block;
}
#lists {
	display: none;
}

#titledescription {
	font-weight: bold;
}

@supports (grid-area: auto) {
	@media (min-width: 50em) {
		body {
			max-width: 100%;
			display: grid;
		}
		h1.label {
			font-size: 15pt;
		}
		#sidemenu {
			margin: 0;
		}
		#sidemenu li {
			display: block;
		}
		#lists {
			display: block;
		}
		.sidebar a.list-header {
			background-color: #4CAF50;
			font-weight: bold;
			color: white;
		}
	}
}
