{% load static %}

<div id="main-container">
	<div id="grid-container">
		{% for art in artworks %}
			<a href="{% url 'Artwork' art.id %}">
				<img class="tempartsmall" src="/{{art.image_path}}">
			</a>
		{% endfor %}
	</div>

	<!-- Starts pagination section -->
	<div id="down-menu">
		{% if artworks.has_other_pages %}
			<div class="paginator">
				{% if artworks.has_previous %}
					<a href="?page={{ artworks.previous_page_number }}">
						<div class="iconD">
							<img id="previmg" src="{% static 'pics/prev.png' %}" alt="Previous">
						</div>
					</a>
				{% endif %}
				Page {{ artworks.number }} of {{ artworks.paginator.num_pages }}
				{% if artworks.has_next %}
					<a href="?page={{ artworks.next_page_number }}">
						<div class="iconD">
							<img id="nextimg" src="{% static 'pics/next.png' %}" alt="Next">
						</div>
					</a>
				{% endif %}
			</div>
		{% endif %}
	</div>
</div>
