{% extends "base.html" %}
{% load static %}

{% block main %}
<div id="info-container">
	<div id="titledescription">{{name}}</div>
	<div id="textdescription">
		{{description}}
	</div>
</div>
{% include 'gridview.html' %}
{% endblock %}
