{% extends "base.html" %}
{% load static %}

{% block content %}
	<h2>Editing "{{list.name}}"</h2>
	
	<form method="post" action="{{request.path}}">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Edit List">
	</form>
{% endblock %}
