{% extends "base.html" %}
{% load static %}

{% block main %}
<div id="info-container">
	<div id="titledescription">Likes</div>
	<div id="textdescription">
		Here's all the stuff you've liked.
	</div>
</div>
{% include 'gridview.html' %}
{% endblock %}
