{% extends "base.html" %}
{% load static %}

{% block main %}
<div id="info-container">
	<div id="titledescription">{{list.name}}</div>
	<div id="textdescription">
		Showing the contents of "{{list.name}}"<br/>
		<a href="{% url 'EditList' list.pk %}">Edit details</a>
	</div>
</div>
{% include 'gridview.html' %}
{% endblock %}
