{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>My Lists</h2>
<ul>
	{% for list in user.user_profile.list_set.all %}
		<li><a href="{% url 'Lists' list.id %}">{{list.name}}</a></li>
	{% endfor %}
</ul>
<hr/>
<form method="post" action="{% url 'ListAll' %}">
	{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Add new list">
</form>
{% endblock %}
