#map-container {
	overflow: hidden;
}
#tempMap {
	width: 100%;
	height: 100%;
}
#map-container path{
	stroke-linejoin: round;
	stroke: #111;
    fill: #f2f2f2;
	transition: fill 0.3s;
}
#map-container :hover{
	fill: #4CAF50;
}
