<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Search</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css\search.css' %}" type = "text/css"/>
</head>

<body>
	<!-- starts main container -->
	<div id="maincontainer">
		<!-- Starts header-->
		<div class="header" id="mainheader">
			<!-- logo area -->
			<span class="logo" id="mainlogo"><span id="logoimg"><img id="logoimg" src="{% static 'pics/icon2.png' %}"  alt="Logo"></span><span><h1 id="title">Art Worldwide</h1></span></span>
			<!-- ends logo area -->
			<!-- adds area -->
			<span class="adds" id="mainadd">ads here</span>
			<!-- ends of adds area -->
			<!-- user area -->
			<span class="userlog" id="mainuserlog"><span><h2 id="title">User</h2></span><span ><img id="logimg" src="{% static 'pics/avatar.png' %}"  alt="avatar"></span></span>
			<!-- ends of user area -->
		</div>
		<!--ends header-->

		<!--starts sidebar-->
		<div class="sidebar" id="mainsidebar">
			<!-- start bar of menu -->
			<div class="sidemenu" id="mainsidemenu">
				<!--none of the menu button work -->
				<a href="#">Home</a>
				<a href="#" class = "active">Search</a>
				<a href="#">Liked</a>
			</div>
			<!-- ends bar of menu -->
			<!-- start side list -->
			<!-- we need to start to disgn and create our data base structure so we can start to create
			apps to add funcionalities -->
			<div class="sidelist" id="mainsidelist">
				<div id="titlelist">lists</div>
				<div id="listtemp">
					<!-- here we can use and app that can get the lists from the data base of a user, but like I said
					we need to figure out the whole data base structure to start to creates models -->
					<ul>
						<li>Italy</li>
						<li>colorful</li>
						<li>Milk</li>
						<li>test1</li>
						<li>tostudy</li>
						<li>idk</li>
						<li>Italy</li>
						<li>colorful</li>
						<li>Milk</li>
						<li>test1</li>
						<li>tostudy</li>
						<li>idk</li>
					</ul>
				</div>

			</div>
			<!-- ends side list -->
		</div>
		<!-- ends Sidebar -->

		<!-- starts main search container -->

		<div class="artcontainer" id="mainartcontainer">
			<input type="text" id="search" name="search" value="Sample Search">
			<button type="submit" value="Submit">Search</button>
			<div class="columnC">
				<img class="tempartsmall" src="{% static 'pics/a1.png' %}" alt="artwork name">
				<img class="tempartsmall" src="{% static 'pics/a2.png' %}" alt="artwork name">
				<img class="tempartsmall" src="{% static 'pics/a3.png' %}" alt="artwork name">
			</div>
			<div class="columnD">
				<img class="tempartsmall" src="{% static 'pics/a4.png' %}" alt="artwork name">
				<img class="tempartsmall" src="{% static 'pics/a5.png' %}" alt="artwork name">
			</div>
		</div>
		<!-- end of main search container -->

		<!-- Starts down menu -->
		<div class="downmenu" id="maindownmenu">

			<div class="iconD"  id="like">
				<img id="likeimg" src="{% static 'pics/like.png' %}" alt="Like">
			</div>
			<div class="iconD" id="share">
				<img id="shareimg" src="{% static 'pics/Share.png' %}" alt="Share">
			</div>
			<div  id="nextlink">
				<a href="url">1</a>
			</div>
			<div  id="nextlink">
				<a href="url">2</a>
			</div>
			<div  id="nextlink">
				<a href="url">3</a>
			</div>
			<div  id="nextlink">
				<a href="url">4</a>
			</div>
			<div  id="nextlink">
				<a href="url">5</a>
			</div>
			<div class="iconD"  id="next">
				<img id="nextimg" src="{% static 'pics/next.png' %}" alt="Next">
			</div>
		</div>
		<!-- ends down menu -->

	</div>
	<!-- ends main container -->

</body>
</html>
